In [1]:
print("hello world")

hello world

In [2]:
print("hammad") #hammad is a string

hammad

In [3]:
# Variables for Strings

In [4]:
name = "Mark"

In [5]:
print(name)

Mark

In [6]:
name = "Ace" #varible value does change but string value can't chnage

In [7]:
print(name)

Ace

In [8]:
floogle = "Mark"

In [9]:
print(floogle)

Mark

In [10]:
# Again, the syntactic difference between variables and text strings is that variables are never enclosed in quotes, and text strings are always enclosed in quotes.

In [11]:
last_name = "Smith"
city_of_origin = "New Orleans"
aussie_greeting = "g'Day"

In [12]:
print(last_name)

Smith

In [13]:
print(city_of_origin)

New Orleans

In [14]:
print(aussie_greeting)

g'Day

In [15]:
# If it's some characters enclosed in quotes, it's a text string

In [16]:
thanx = "Thanks for your input!"
print(thanx)

Thanks for your input!

In [17]:
# Here's a second rule: Variable names can't have spaces in them.

In [18]:
name of country = "pakistan"

SyntaxError: invalid syntax (<ipython-input-18-5285eaa63a88>, line 1)

In [19]:
nameofcountry = "pakistan" #readable but not good method

In [20]:
country_of_origin = "pakistan" #bestway to long variable name

In [21]:
# Variables for Numbers

In [22]:
# A string isn't the only thing you can assign to a variable. You can also assign a number

In [23]:
weight = 150

In [24]:
weight + 25

175

In [25]:
weight + 200

350

In [26]:
original_num = 23
new_num = original_num + 7

In [27]:
print(original_num)

23

In [28]:
print(new_num)

30

In [29]:
original_num = 23
num_to_be_added = 7
new_num = original_num + num_to_be_added

In [30]:
print(original_num)

23

In [31]:
print(num_to_be_added)

7

In [32]:
print(new_num)

30

In [33]:
original_num = 90
original_num = original_num + 10

In [34]:
print(original_num)

100

In [35]:
original_num = "23"
new_num = original_num + 7

TypeError: can only concatenate str (not "int") to str

In [ ]:
1st_prime_number = 2 #can't use numerical value in strt of variable name

In [36]:
prime_number_that_comes1st = 2

In [37]:
print(prime_number_that_comes1st)

2

In [38]:
# Math expressions: Familiar operators

In [39]:
popular_number = 4

In [40]:
popular_number = 2 + 2

In [41]:
print(popular_number)

4

In [42]:
print(2 + 2)

4

In [43]:
loss = 12 - 24

In [44]:
print(loss)

-12

In [45]:
dozens = 3 * 12

In [46]:
print(dozens)

36

In [47]:
popular_number = 12 / 4

In [48]:
print(popular_number)

3.0

In [49]:
num = .075
total = num + 200

In [50]:
print(total)

200.075

In [51]:
num = 10
another_num = 1.5
sum_of_numbers = num + another_num

In [52]:
print(sum_of_numbers)

11.5

In [53]:
# Variable Names Legal and Illegal

In [54]:
# You've already learned three rules about naming a variable:
# 1. You can't enclose it in quotation marks.
# 2. You can't have any spaces in it.
# 3. It can't be a number or begin with a number.

In [55]:
# Math expressions: Unfamiliar operators

In [56]:
whats_left_over = 10 % 3

In [57]:
print(whats_left_over)

1

In [58]:
whats_left_over = 9 % 3

In [59]:
print(whats_left_over)

0

In [60]:
age = age + 1

NameError: name 'age' is not defined

In [61]:
age += 1

NameError: name 'age' is not defined

In [62]:
age = 12
age += 50

In [63]:
print(age)

62

In [64]:
age = 12
age -= 2

In [65]:
print(age)

10

In [66]:
age = 12
age *= 3

In [67]:
print(age)

36

In [68]:
age = 12
amount_to_increment = 3
age += amount_to_increment

In [69]:
print(age)

15

In [70]:
# Math expressions: Eliminating ambiguity

In [71]:
total_cost = 1 + 3 * 4

In [72]:
print(total_cost)

13

In [74]:
total_cost = 1 + (3 * 4)

In [75]:
print(total_cost)

13

In [76]:
total_cost = (1 + 3) * 4

In [77]:
print(total_cost)

16

In [78]:
result_of_computation = (2 * 4) * 4 + 2

In [79]:
print(result_of_computation)

34

In [80]:
result_of_computation = ((2 * 4) * 4) + 2

In [81]:
print(result_of_computation)

34

In [82]:
# Concatenating text strings

In [83]:
print("Hello, World!")

Hello, World!

In [84]:
greeting = "Hello, World!"
print(greeting)

Hello, World!

In [85]:
greeting = "Hello"
addressee = "World"

In [86]:
print(greeting)

Hello

In [87]:
print(addressee)

World

In [88]:
whole_greeting = greeting + addressee     #It's called concatenation. All it takes is a plus sign.

In [89]:
print(whole_greeting)

HelloWorld

In [92]:
greeting = "Hello"
separators = ", "
addressee = "World"
punc = "!"
whole_greeting = greeting + separators + addressee + punc
print(whole_greeting)

Hello, World!

In [94]:
first_name = "hammad"
middle_name = "ur"
last_name = "rehman"
punc = "!"
full_name = first_name + middle_name + last_name + punc

In [95]:
print(full_name)

hammadurrehman!

In [96]:
whole_greeting = "Hello, " + "World!"

In [97]:
print(whole_greeting)

Hello, World!

In [98]:
whole_greeting = "Hello" + separators + "World" + punc

In [99]:
print(whole_greeting)

Hello, World!

In [100]:
print(greeting + separators + addressee + punc)

Hello, World!

In [101]:
print("The sum of 2 plus 2 is " + 4)

TypeError: can only concatenate str (not "int") to str

In [102]:
print("The sum of 2 plus 2 is " + "4")

The sum of 2 plus 2 is 4